body{
  margin: 0;
  padding: 0;
}

#map{
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 100%;
}

.search-bar{
  position: fixed;
  top: 20px;
  left: 20px;
  width: 300px;
}

.search-bar input{
  box-sizing: border-box;
  width: 80%;
  padding: 3px 6px;
  font-size: 16px;
  line-height: 20px;
}

.search-bar button{
  box-sizing: border-box;
  width: 20%;
  padding: 4px 6px;
  font-size: 16px;
  line-height: 20px;
  background: #ffffff;
  border: 1px solid #cccccc;
}

.search-bar ul{
  padding: 8px;
  margin: 0;
  background: #ffffff;
  list-style: none;
}

.search-bar ul li{
  padding: 4px 0;
  cursor: pointer;
}

.search-bar ul li .name{
  color: #333333;
  font-size: 16px;
  font-weight: bold;
}

.search-bar ul li .address{
  display: block;
  margin-top: 4px;
  font-size: 10px;
  color: #999999;
}

.search-bar ul li p{
  margin: 0;
}

.search-bar ul li + li{
  border-top: 1px solid #d5d5d5;
}

.popup{

}

.popup .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1100;
}

.popup .popup-content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  width: 300px;
  padding: 30px 20px;
  background: #ffffff;
  z-index: 1200;
  overflow: hidden;
}

.popup .popup-content input{
  box-sizing: border-box;
  width: 100%;
  padding: 4px 8px;
  font-size: 12px;
  border: 1px solid #999999;
}

.popup .popup-content span{
  display: block;
}

.popup .popup-content .name{
  margin-top: 12px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  color: #333333;
}

.popup .popup-content .address{
  margin-top: 4px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 300px;
  color: #999999;
}

.popup .popup-content .btn-group{
  float: right;
}

.popup .popup-content .btn-group button{
  padding: 4px 6px;
  font-size: 12px;
  background: #ffffff;
  border-radius: 5px;
  border: 1px solid #d5d5d5;
}

.popup .popup-content .btn-group button + button{
  margin-left: 6px;
}

.current-marker{
  width: 16px;
  height: 16px;
  background: red;
  border-radius: 50%;
}